VitalStats/SampleData/DesignDataSource/DesignDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.DesignDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.DesignDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DesignDataSource" type="tns:DesignDataSource" />
  <xs:complexType name="DesignDataSource">
    <xs:sequence>
      <xs:element name="Profiles" type="tns:Profiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profiles">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ProfilesItem" type="tns:ProfilesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfilesItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute name="IsProtected" type="xs:boolean" />
  </xs:complexType>
</xs:schema>