VitalStats/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Profiles" type="tns:Profiles" />
      <xs:element name="SelectedProfile" type="tns:SelectedProfile" />
      <xs:element name="MeasurementTypes" type="tns:MeasurementTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profiles">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ProfilesItem" type="tns:ProfilesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfilesItem">
    <xs:attribute blend:FormatParameters="2" name="Id" type="xs:double" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute name="IsProtected" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="SelectedProfile">
    <xs:sequence>
      <xs:element name="Stats" type="tns:Stats" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="2" name="Id" type="xs:double" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute name="IsProtected" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Stats">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="StatsItem" type="tns:StatsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatsItem">
    <xs:sequence>
      <xs:element name="MeasurementType" type="tns:MeasurementType" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="2" name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Value" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MeasurementType">
    <xs:sequence>
      <xs:element name="Units" type="tns:Units" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="2" name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute name="IsConvertible" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Units">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UnitsItem" type="tns:UnitsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnitsItem">
    <xs:attribute blend:FormatParameters="2" name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="ConversionFactor" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="ConversionIntercept" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Format" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MeasurementTypes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MeasurementTypesItem" type="tns:MeasurementTypesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasurementTypesItem">
    <xs:attribute blend:FormatParameters="2" name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,6" name="Name" type="xs:string" />
    <xs:attribute name="IsConvertible" type="xs:boolean" />
  </xs:complexType>
</xs:schema>