Pocketailor/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Profiles" type="tns:Profiles" />
      <xs:element name="SelectedProfile" type="tns:SelectedProfile" />
      <xs:element name="MeasurementTypes" type="tns:MeasurementTypes" />
      <xs:element name="MeasurementTemplates" type="tns:MeasurementTemplates" />
      <xs:element name="SuggestedMeasurementTemplate" type="tns:SuggestedMeasurementTemplate" />
      <xs:element name="SelectedMeasurement" type="tns:SelectedMeasurement" />
      <xs:element name="QuickProfiles" type="tns:QuickProfiles" />
      <xs:element name="Regions" type="tns:Regions" />
      <xs:element name="ConversionMeasurements" type="tns:ConversionMeasurements" />
    </xs:sequence>
    <xs:attribute name="IsLocked" type="xs:boolean" />
    <xs:attribute name="ConversionsByRegionPageBGImage" type="tns:Basic-Image" />
    <xs:attribute name="ConversionsByRegionPageTitle" type="xs:string" />
    <xs:attribute name="SelectedConversionType" type="xs:string" />
    <xs:attribute name="ShowHiddenConversions" type="xs:boolean" />
    <xs:attribute name="AppVersion" type="xs:string" />
    <xs:attribute name="HasTrouserMeasurements" type="xs:boolean" />
    <xs:attribute name="SelectedRegionString" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Profiles">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ProfilesItem" type="tns:ProfilesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfilesItem">
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute name="IsProtected" type="xs:boolean" />
    <xs:attribute name="Gender" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="SelectedProfile">
    <xs:sequence>
      <xs:element name="Measurements" type="tns:Measurements" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute name="IsProtected" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="1,8" name="Gender" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Measurements">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MeasurementsItem" type="tns:MeasurementsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasurementsItem">
    <xs:sequence>
      <xs:element name="MeasurementType" type="tns:MeasurementType" />
      <xs:element name="PreferredUnit" type="tns:PreferredUnit" />
      <xs:element name="OtherUnitFormattedValues" type="tns:OtherUnitFormattedValues" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="FormattedValue" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MeasurementType">
    <xs:sequence>
      <xs:element name="Units" type="tns:Units" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute name="IsConvertible" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Units">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UnitsItem" type="tns:UnitsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnitsItem">
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="ConversionFactor" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="ConversionIntercept" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Format" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="PreferredUnit">
    <xs:attribute blend:FormatParameters="1,8" name="FormattedValue" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="OtherUnitFormattedValues">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="OtherUnitFormattedValuesItem" type="tns:OtherUnitFormattedValuesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtherUnitFormattedValuesItem" />
  <xs:complexType name="MeasurementTypes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MeasurementTypesItem" type="tns:MeasurementTypesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasurementTypesItem">
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,6" name="Name" type="xs:string" />
    <xs:attribute name="IsConvertible" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="MeasurementTemplates">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MeasurementTemplatesItem" type="tns:MeasurementTemplatesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasurementTemplatesItem">
    <xs:sequence>
      <xs:element name="MeasurementType" type="tns:MeasurementType3" />
      <xs:element name="PreferredUnit" type="tns:PreferredUnit2" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute name="Id" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="MeasurementType3">
    <xs:sequence>
      <xs:element name="Units" type="tns:Units3" />
    </xs:sequence>
    <xs:attribute name="IsConvertible" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Units3">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UnitsItem3" type="tns:UnitsItem3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnitsItem3">
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="FormattedValue" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="PreferredUnit2">
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="FormattedValue" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="SuggestedMeasurementTemplate">
    <xs:sequence>
      <xs:element name="MeasurementType" type="tns:MeasurementType1" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="3,8" name="Name" type="xs:string" />
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Value" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MeasurementType1">
    <xs:sequence>
      <xs:element name="Units" type="tns:Units1" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="3,8" name="Name" type="xs:string" />
    <xs:attribute name="IsConvertible" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Units1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UnitsItem1" type="tns:UnitsItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnitsItem1">
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Format" type="xs:string" />
    <xs:attribute name="ConversionFactor" type="xs:double" />
    <xs:attribute name="ConversionIntercept" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="SelectedMeasurement">
    <xs:sequence>
      <xs:element name="MeasurementType" type="tns:MeasurementType2" />
      <xs:element name="PreferredUnit" type="tns:PreferredUnit1" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute name="Value" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="MeasurementType2">
    <xs:sequence>
      <xs:element name="Units" type="tns:Units2" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute name="IsConvertible" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Units2">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UnitsItem2" type="tns:UnitsItem2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnitsItem2">
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Format" type="xs:string" />
    <xs:attribute name="ConversionFactor" type="xs:double" />
    <xs:attribute name="ConversionIntercept" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="FormattedValue" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="PreferredUnit1">
    <xs:attribute blend:FormatParameters="1,8" name="FormattedValue" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="QuickProfiles">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="QuickProfilesItem" type="tns:QuickProfilesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuickProfilesItem">
    <xs:attribute name="Gender" type="xs:string" />
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute name="IsProtected" type="xs:boolean" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Regions">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="RegionsItem" type="tns:RegionsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegionsItem">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ConversionMeasurements">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ConversionMeasurementsItem" type="tns:ConversionMeasurementsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionMeasurementsItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="FormattedValue" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>