Pocketailor/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Profiles" type="tns:Profiles" />
      <xs:element name="SelectedProfile" type="tns:SelectedProfile" />
      <xs:element name="MeasurementTypes" type="tns:MeasurementTypes" />
      <xs:element name="StatTemplates" type="tns:StatTemplates" />
      <xs:element name="SuggestedStatTemplate" type="tns:SuggestedStatTemplate" />
      <xs:element name="SelectedStat" type="tns:SelectedStat" />
      <xs:element name="QuickProfiles" type="tns:QuickProfiles" />
      <xs:element name="DressTypeConversionsByRegion" type="tns:DressTypeConversionsByRegion" />
    </xs:sequence>
    <xs:attribute name="IsLocked" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Profiles">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ProfilesItem" type="tns:ProfilesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfilesItem">
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute name="IsProtected" type="xs:boolean" />
    <xs:attribute name="Gender" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="SelectedProfile">
    <xs:sequence>
      <xs:element name="Stats" type="tns:Stats" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute name="IsProtected" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="1,8" name="Gender" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Stats">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="StatsItem" type="tns:StatsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatsItem">
    <xs:sequence>
      <xs:element name="MeasurementType" type="tns:MeasurementType" />
      <xs:element name="PreferredUnit" type="tns:PreferredUnit" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="FormattedValue" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MeasurementType">
    <xs:sequence>
      <xs:element name="Units" type="tns:Units" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute name="IsConvertible" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Units">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UnitsItem" type="tns:UnitsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnitsItem">
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="ConversionFactor" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="ConversionIntercept" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Format" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="PreferredUnit">
    <xs:attribute blend:FormatParameters="1,8" name="FormattedValue" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MeasurementTypes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MeasurementTypesItem" type="tns:MeasurementTypesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasurementTypesItem">
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,6" name="Name" type="xs:string" />
    <xs:attribute name="IsConvertible" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="StatTemplates">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="StatTemplatesItem" type="tns:StatTemplatesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatTemplatesItem">
    <xs:sequence>
      <xs:element name="MeasurementType" type="tns:MeasurementType3" />
      <xs:element name="PreferredUnit" type="tns:PreferredUnit2" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute name="Id" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="MeasurementType3">
    <xs:sequence>
      <xs:element name="Units" type="tns:Units3" />
    </xs:sequence>
    <xs:attribute name="IsConvertible" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Units3">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UnitsItem3" type="tns:UnitsItem3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnitsItem3">
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="FormattedValue" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="PreferredUnit2">
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="FormattedValue" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="SuggestedStatTemplate">
    <xs:sequence>
      <xs:element name="MeasurementType" type="tns:MeasurementType1" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="3,8" name="Name" type="xs:string" />
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Value" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MeasurementType1">
    <xs:sequence>
      <xs:element name="Units" type="tns:Units1" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="3,8" name="Name" type="xs:string" />
    <xs:attribute name="IsConvertible" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Units1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UnitsItem1" type="tns:UnitsItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnitsItem1">
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Format" type="xs:string" />
    <xs:attribute name="ConversionFactor" type="xs:double" />
    <xs:attribute name="ConversionIntercept" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="SelectedStat">
    <xs:sequence>
      <xs:element name="MeasurementType" type="tns:MeasurementType2" />
      <xs:element name="PreferredUnit" type="tns:PreferredUnit1" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute name="Value" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="MeasurementType2">
    <xs:sequence>
      <xs:element name="Units" type="tns:Units2" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute name="IsConvertible" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Units2">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UnitsItem2" type="tns:UnitsItem2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnitsItem2">
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Format" type="xs:string" />
    <xs:attribute name="ConversionFactor" type="xs:double" />
    <xs:attribute name="ConversionIntercept" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="FormattedValue" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="PreferredUnit1">
    <xs:attribute blend:FormatParameters="1,8" name="FormattedValue" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="QuickProfiles">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="QuickProfilesItem" type="tns:QuickProfilesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuickProfilesItem">
    <xs:attribute name="Gender" type="xs:string" />
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute name="IsProtected" type="xs:boolean" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DressTypeConversionsByRegion">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DressTypeConversionsByRegionItem" type="tns:DressTypeConversionsByRegionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DressTypeConversionsByRegionItem">
    <xs:sequence>
      <xs:element name="Conversions" type="tns:Conversions" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Conversions">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ConversionsItem" type="tns:ConversionsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionsItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="FormattedValue" type="xs:string" />
  </xs:complexType>
</xs:schema>